let ano = parseInt(prompt("Digite um ano:"));

function ehBissexto(ano) {
    return (ano % 4 === 0 && ano % 100 !== 0) || (ano % 400 === 0);
}

alert(ano + (ehBissexto(ano) ? " é um ano bissexto." : " não é um ano bissexto."));
